:host {

    .mat-card{
        width: 20%;
      }

    .mat-card-content {
        padding-top: 20px;
    }

    button{
      margin-bottom: 4px;
      color: white;
      background-color: red;
    }
  }