<mat-card *ngIf="bet$ | async as bet">
  <div>{{bet.runnerNumber}} - {{bet.runnerName}}</div>
  <div>Win - ${{bet.returnWin}}</div>
  <div>Place ${{bet.returnPlace}}</div>
  <button mat-raised-button
          (click)="removeBet()">Remove Bet</button>
</mat-card>

<!-- <div class="mat-row">
  <div class="mat-cell">{{bet.propositionNumber}}</div>
  <div class="mat-cell">{{bet.meetingName}}</div>
  <div class="mat-cell">{{bet.runnerNumber}}</div>
  <div class="mat-cell">{{bet.returnWin}}</div>
  <div class="mat-cell">{{bet.returnPlace}}</div>
  <div class="mat-cell">
    <button mat-raised-button
            (click)="removeBet()">Remove Bet</button>
  </div>
</div> -->