<mat-card>
  <mat-card-header>
    <mat-card-title><strong>{{ bet.runnerName }}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Meeting: <strong>{{ bet.meetingName }}</strong>
    </p>
    <p>
      Race: <strong>{{ bet.raceName }} - {{ bet.raceNumber }}</strong>
    </p>
    <p>
      Runner #: <strong>{{ bet.runnerNumber }}</strong>
    </p>
    <p>
      Win: <strong>{{ bet.returnWin }}</strong>
      Place: <strong>{{ bet.returnPlace }}</strong>
    </p>
  </mat-card-content>
</mat-card>