<div class="mat-row"
     [@updatedData]="isUpdated ? 'updated' : ''"
     (@updatedData.start)="onAnimationEvent($event)"
     (@updatedData.done)="onAnimationEvent($event)">
  <div class="mat-cell">{{bet.propositionNumber}}</div>
  <div class="mat-cell">{{bet.meetingName}}</div>
  <div class="mat-cell">{{bet.runnerNumber}}</div>
  <div class="mat-cell">
    <button class="button-win"
            mat-raised-button>{{bet.returnWin}}</button>
  </div>
  <div class="mat-cell">
    <button class="button-place"
            mat-raised-button
            (click)="placeBet()">{{bet.returnPlace}}</button>
  </div>
</div>