<mat-card>
  <mat-card-header>
    <mat-card-title><strong>{{ racingBet.runnerName }}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Meeting: <strong>{{ racingBet.meetingName }}</strong>
    </p>
    <p>
      Race: <strong>{{ racingBet.raceName }} - {{ racingBet.raceNumber }}</strong>
    </p>
    <p>
      Runner #: <strong>{{ racingBet.runnerNumber }}</strong>
    </p>
    <p>
      Win: <strong>{{ racingBet.returnWin }}</strong>
      Place: <strong>{{ racingBet.returnPlace }}</strong>
    </p>
  </mat-card-content>
</mat-card>