<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <strong>Trending Bets</strong>
        <!-- <i class="material-icons">whatshot</i> -->
      </mat-card-title>
      <mat-card-subtitle>Racing</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-cell">Race Type</div>
        <div class="mat-header-cell">Meeting</div>
        <div class="mat-header-cell">Race#</div>
        <div class="mat-header-cell">Runner#</div>
        <div class="mat-header-cell">Win</div>
        <div class="mat-header-cell">Place</div>
      </div>
      <racing-bet *ngFor="let bet of racingBets$ | async; trackBy: trackBet"
                  [bet]="bet"
                  [logging]="logging"></racing-bet>
    </div>
  </mat-card-content>
</mat-card>

<!-- <div class="loader__bg"
     *ngIf="isLoading$ | async">
  <mat-spinner class="loader"
               color="accent"
               mode="indeterminate"
               [diameter]="40"
               [value]="25"></mat-spinner>
</div> -->