:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 0;
  
    .full-width {
      flex-basis: 100%;
    }
  
    .pager {
      display: flex;
      justify-content: space-between;
    }
  
    .invisible {
      position: relative;
      opacity: 0;
      z-index: -1;
    }
  
    racing-bet {
      flex-basis: calc(50% - 10px);
      margin-bottom: 20px;
    }
  
    .loader {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;

      &__bg {
        padding: 20px;
        padding-top: 40px;
      }
    }
  
    button {
      margin-bottom: 20px;
    }
    
    .mat-card{
      width: 45%;
    }

    .mat-table{
      width: 100%;
    }
  }
  